.header {
  height: 60px;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__image,
.logo__link {
  width: 40px;
  height: 40px;
}
