.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 1024px;
  height: 60px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.logo__image,
.logo__link {
  width: 40px;
  height: 40px;
}

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__item {
  display: flex;
  list-style: none;
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--main-accent);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  height: 60px;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--blue-accent);
}

.link--active {
 color: var(--blue-accent);
}

.is-active {
  position: relative;
}

.is-active::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--blue-accent);
  bottom: 0;

  // border-bottom: 4px solid var(--blue-accent);
  // border-radius: 2px;
}
