@import "./var.scss";
@import "./reset.scss";
@import "./header.scss";
@import "./card.scss";

.body {
  font-family: "Roboto", sans-serif;
background-color: rgb(212, 203, 203);
}

.main {
  padding: 50px 41px 72px 41px ;
}

.site__catalog {
  width: 1024px;
  margin: 0 auto;
  background-color: white;
}