.price {
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;

  &__text {
    color: $secondary;
    font-size: 12px;
    line-height: 18px;
  }

  &__cost {
    color: $main-accent;
    font-weight: 700;
    line-height: 18px;
  }
}